# compiled output
/apps/cms-api/dist
/apps/cms-api/node_modules
/apps/cms-api/build

# generated Prisma client (regenerated via postinstall)
/apps/cms-api/src/prisma/application/client

# Logs
/apps/cms-api/logs
/apps/cms-api/*.log
/apps/cms-api/npm-debug.log*
/apps/cms-api/pnpm-debug.log*
/apps/cms-api/yarn-debug.log*
/apps/cms-api/yarn-error.log*
/apps/cms-api/lerna-debug.log*

# OS
/apps/cms-api.DS_Store

# Tests
/apps/cms-api/coverage
/apps/cms-api/.nyc_output

# IDEs and editors
/apps/cms-api//.idea
/apps/cms-api/.project
/apps/cms-api/.classpath
/apps/cms-api/.c9/
/apps/cms-api/*.launch
/apps/cms-api/.settings/
/apps/cms-api/*.sublime-workspace

# IDE - VSCode
/apps/cms-api/.vscode/*
/apps/cms-api/!.vscode/settings.json
/apps/cms-api/!.vscode/tasks.json
/apps/cms-api/!.vscode/launch.json
/apps/cms-api/!.vscode/extensions.json

# dotenv environment variable files
/apps/cms-api.env
/apps/cms-api.env.development.local
/apps/cms-api.env.test.local
/apps/cms-api.env.production.local
/apps/cms-api.env.local

# temp directory
/apps/cms-api.temp
/apps/cms-api.tmp

# Runtime data
/apps/cms-api/pids
/apps/cms-api/*.pid
/apps/cms-api/*.seed
/apps/cms-api/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/apps/cms-api/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
