{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 180,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@nestjs/(.*)$", "^@/(.*)$", "^./(.*)$"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
